<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<title>昆明理工大学掌上课表</title>

<link rel="stylesheet" type="text/css" href="css/normalize.css" />
<link rel="stylesheet" type="text/css" href="css/demo.css" />

<!--必要样式-->
<link rel="stylesheet" type="text/css" href="css/component.css" />

<!--[if IE]>
<script src="js/html5.js"></script>
<![endif]-->
</head>
<body>
		<div class="container demo-1">
			<div class="content">
				<div id="large-header" class="large-header">
					<canvas id="demo-canvas"></canvas>
					<h1 class="main-title">School <span class="thin">Timetable</span></h1>
				</div>
				<nav class="codrops-demos">
					<a class="current-demo" href="/../qingguo/view/index.html">课表</a>
					<a href="/../qingguo/view/index2.html">成绩</a>
					<a href="/../qingguo/view/index3.html">通知</a>
					<a href="/../qingguo/view/index4.html">留言</a>
				</nav>
			</div>
			<div>
				<span id="s"></span>
			</div>
		</div><!-- /container -->
		<script src="js/TweenLite.min.js"></script>
		<script src="js/EasePack.min.js"></script>
		<script src="js/rAF.js"></script>
		<script src="js/demo-1.js"></script>
		<script type="text/javascript">
            //var time = 5; //时间,秒
            //function Redirect() {
               // window.location = "http://www.cssue.com/";
           // }
            //var i = 0;
            //function dis() {
                //document.all.s.innerHTML = (time - i) + "s";
                //i++;
            //}
           // timer = setInterval('dis()', 1000); //显示时间
           // timer = setTimeout('Redirect()', time * 1000); //跳转
		</script>
	</body>

</html>