<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<title>昆明理工大学掌上课表</title>

<link rel="stylesheet" type="text/css" href="css/normalize.css" />
<link rel="stylesheet" type="text/css" href="css/demo.css" />

<!--必要样式-->
<link rel="stylesheet" type="text/css" href="css/component.css" />

<!--[if IE]>
	<script src="js/html5.js"></script>
<![endif]-->
</head>
<body>
<div class="container demo-4">
	<div class="content">
		<div id="large-header" class="large-header">
			<canvas id="demo-canvas"></canvas>
			<h1 class="main-title">Message Center</span></h1>
		</div>
		<nav class="codrops-demos">
			<a href="index.html">课表</a>
			<a href="index2.html">成绩</a>
			<a href="index3.html">通知</a>
			<a class="current-demo" href="index4.html">留言</a>
		</nav>
	</div>
</div><!-- /container -->
<script src="js/rAF.js"></script>
<script src="js/demo-4.js"></script>
</body>
</html>